[Unit]
Description=Torque Server
#Requires=remote-fs.target local-fs.target named.target network.target
After=remote-fs.target local-fs.target named.target network.target

[Service]
Type=forking
ExecStart=/usr/sbin/pbs_server.start
ExecStop=/usr/sbin/pbs_server.stop
PIDFile=/var/spool/torque/server_priv/server.lock
TimeoutSec=3600


[Install]
WantedBy=multi-user.target
